<header>
    <div class="container">
        <div class="columns is-vcentered is-mobile">
            <div class="column is-2-mobile">
                <a href="/" class="header-logo"><h1>GD</h1></a>
            </div>
            <div class="column">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/#skills">Skills</a></li>
                        <li><a href="/#projects">Projects</a></li>
                        <li><a href="/#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>